#root {
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  height: 100%;
  width: 100%;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background-image: linear-gradient(
      170deg,
      #d3e8ff 0% 20%,
      #ffffff88 35%,
      #ffffff11 35.2% 100%
    ),
    url('./Moana-bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

#content-container {
  display: grid;
  width: min(100%, 1280px);
  grid-template-areas:
    'hd hd'
    'se mn';
  grid-template-columns: minmax(200px, 25%) 75%;
  gap: 48px 16px;
  margin: 24px;
}

section {
  grid-area: se;
}

header {
  grid-area: hd;
}

main {
  grid-area: mn;
}

header h1 {
  margin-bottom: 12px;
}

header p {
  font-size: 1.2rem;
  line-height: 1.6rem;
  width: 80%;
}

@media screen and (max-width: 1000px) {
  #content-container {
    display: grid;
    grid-template-areas:
      'hd'
      'se'
      'mn';
    grid-template-columns: 1fr;
    margin: 8px;
  }

  header {
    text-align: center;
  }

  header p {
    width: 100%;
  }
}
